<style>
    #addNewProvider{
        margin-bottom: 20px;
    }
    .client-detail-container{
        padding: 20px;;
        padding-top: 15px;
    }
    .new-student-container{
        padding: 20px;;
        padding-top: 15px;
    }
mat-form-field.mat-form-field {
  font-size: 18px;
  width: 100%;
}
.deleteStudent:hover{
    color: #750101!important;
}
</style>


<nav class="navbar navbar-expand navbar-light bg-light" style="height:71.6px;">
    <a class="navbar-brand" href="#">Client Details</a>
    <span class="navbar__separator navbar__separator--v"></span>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item " >
            </li>
        </ul>
        <ul class="nav navbar-nav row justify-content-end " style="width: 100%;">
            <li class="nav-item col-sm-2">
                <a mat-raised-button [routerLink]="['/client/addaddress', client.id]" routerLinkActive="active" href="#" >New Address</a>
            </li>
        </ul>
    </div>
</nav>
<div class="mat-z12 " style="background-color: white;">
    <div class="client-detail-container">
        <form class="new-client-form" [formGroup]="clientForm"  (ngSubmit)="onUpdateClient()">
            <div class="row">
                <div class="col-5">
                    <mat-form-field>
                        <mat-label>Practice Type</mat-label>
                        <mat-select required formControlName="idTypeClient" >
                            <mat-option>
                                <ngx-mat-select-search [formControl]="TypeClientsFilterCtrl"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let item of filteredTypeClients | async" [value]="item.id">
                                
                                {{item.name}}
                                <span class="additional-selection">
                                    {{item.description}}
                                </span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-7">

                    <mat-form-field>
                        <mat-label>Pratice Name</mat-label>
                        <input matInput required placeholder="Enter the name of the Client" formControlName="name" >
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field >
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Enter a description of the Client" formControlName="description" ></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Street</mat-label>
                    <input matInput required placeholder="Enter the street of the Client" formControlName="street">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Street 2</mat-label>
                    <input matInput placeholder="Enter the street complementary of the Client" formControlName="street2">
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <mat-form-field>
                        <mat-label>City</mat-label>
                        <input matInput required placeholder="Enter the city of the Client" formControlName="city">
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field>
                        <mat-label>Zip</mat-label>
                        <input matInput required placeholder="Enter the zip of the Client" formControlName="zip">
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <input type="text"
                               matInput
                               placeholder="States"
                               formControlName="state"
                               required
                               [matAutocomplete]="autoGroup">
                        <mat-autocomplete #autoGroup="matAutocomplete">
                            <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
                                <mat-option *ngFor="let name of group.names" [value]="name">
                                {{name}}
                                </mat-option>
                            </mat-optgroup>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field>
                        <mat-label>Web Site</mat-label>
                        <input matInput placeholder="Enter the web site of the Client" formControlName="website">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput required placeholder="Enter the email of the Client" formControlName="email" >
                        <mat-error *ngIf="clientForm.get('email').invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Email 2</mat-label>
                        <input matInput placeholder="Enter the email2 of the Client" formControlName="email2" >
                        <mat-error *ngIf="clientForm.get('email2').invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                    <mat-form-field>
                        <mat-label>Default Travel Miles Amount</mat-label>
                        <input matInput type="number" placeholder="Enter the web site of the Client" formControlName="defaultTravelMilesAmount">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Phone number</mat-label>
                        <input matInput appPhoneMask placeholder="Phone number" formControlName="phoneNumber"
                        >
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Cell number</mat-label>
                        <input matInput appPhoneMask placeholder="Cell number" formControlName="cellNumber"
                        >
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Fax number</mat-label>
                        <input matInput appPhoneMask placeholder="Fax number" formControlName="fax"
                        >
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <mat-form-field>
                        <mat-label>Contact Name</mat-label>
                        <input matInput placeholder="Enter the contact name of the Client" formControlName="contactName">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Contact Email</mat-label>
                        <input matInput placeholder="Contact Email" formControlName="contactEmail"
                       >
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>Contact Phone Number</mat-label>
                        <input matInput appPhoneMask placeholder="Contact Phone Number" formControlName="contactPhoneNumber"
                        >
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field >
                        <mat-label>Note</mat-label>
                        <textarea matInput placeholder="Enter a note of the Client" formControlName="note" ></textarea>
                    </mat-form-field>
                </div>
            </div>

            <button class="btn btn-success" [disabled]="clientForm.invalid"
                type="submit">Update
            </button>
        </form>
        <div class="row" *ngIf="client.Addresses.length > 1">
            <div class="col-md-12"  style="margin-bottom: 10px;">
                <a [routerLink]="" (click)="onDisplayAddress()">{{client.Addresses.length-1}} aditionnal locations</a>
            </div>
        </div>
        <div class="" *ngIf="displayAddress">
            <form class="addresses-form row"  (ngSubmit)="onUpdateAddresses()">
                <div class="col-md-6" *ngFor="let control of addressForms.controls; let i=index">
                    <div [formGroup]="control" >
                        <h3>Address #{{i+1}}</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field>
                                    <mat-label>Street</mat-label>
                                    <input matInput required placeholder="Enter the street of the Client" formControlName="street">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field>
                                    <mat-label>Street 2</mat-label>
                                    <input matInput placeholder="Enter the street complementary of the Client" formControlName="street2">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <mat-form-field>
                                    <mat-label>City</mat-label>
                                    <input matInput required placeholder="Enter the city of the Client" formControlName="city">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field>
                                    <mat-label>Zip</mat-label>
                                    <input matInput required placeholder="Enter the zip of the Client" formControlName="zip">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field>
                                    <input type="text"
                                        matInput
                                        placeholder="States"
                                        formControlName="state"
                                        required
                                        [matAutocomplete]="autoGroup">
                                    <mat-autocomplete #autoGroup="matAutocomplete">
                                        <mat-optgroup *ngFor="let group of stateGroupOptionsList[i] | async" [label]="group.letter">
                                        <mat-option *ngFor="let name of group.names" [value]="name">
                                            {{name}}
                                        </mat-option>
                                    </mat-optgroup>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                    <hr>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-success"
                        type="submit">Update
                    </button>
                </div>

            </form>
        </div>
    </div>

</div>
<nav class="navbar navbar-expand navbar-light bg-light" style="height:71.6px;">
    <a class="navbar-brand" >Main Provider</a>
    <span class="navbar__separator navbar__separator--v"></span>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item " >
            </li>
        </ul>
    </div>
</nav>
<div  class="mat-z12 " style="background-color: white;">
    <div class="new-student-container">
        <form id="newProvider" [formGroup]="mainProviderForm" (ngSubmit)="onUpdateMainProvider()">
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field>
                        <mat-label>Title Main Provider</mat-label>
                        <mat-select required formControlName="idTitleProvider" >
                          <mat-option *ngFor="let item of TitleStudents" [value]="item.id">
                            {{item.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput required placeholder="Enter the first name of the Provider" formControlName="firstName" >
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput required placeholder="Enter the last name of the Provider" formControlName="lastName" >
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Suffix</mat-label>
                        <input matInput placeholder="Enter the last name of the Provider" formControlName="suffix" >
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Enter the email of the Provider" formControlName="email" >
                        <mat-error *ngIf="mainProviderForm.get('email').invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Phone number</mat-label>
                        <input matInput appPhoneMask placeholder="Phone number" formControlName="phoneNumber"
                        >

                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>State Board License</mat-label>
                        <input matInput placeholder="Enter the State Board License of the Provider" formControlName="stateBoardLicense" >
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>DEA</mat-label>
                        <input matInput placeholder="Enter the DEA the Provider" formControlName="dea" >
                    </mat-form-field>
                </div>
            </div>
            <button class="btn btn-success" [disabled]="mainProviderForm.invalid"
                type="submit">Update
            </button>
        </form>
    </div>
</div>

<div class="mat-z12" style="background-color: white;">
    <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand">Students</a>
        <span class="navbar__separator navbar__separator--v"></span>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
            <li class="nav-item ">
                <mat-form-field>
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)"  placeholder="Ex. ium">
                </mat-form-field>
            </li>
            <!-- <li class="nav-item" style="position: absolute;right: 30px;">
                <a href="#addNewProvider" class="nav-link" >New Provider</a>
            </li> -->
            </ul>
        </div>
    </nav>
    <div class="table-providers">


        <table mat-table  [dataSource]="dataSource " matSort matSortActive="isMainProvider" matSortDirection="desc" >


            <!-- Position Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.TitleStudent.name}} </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.TypeStudent.name}} </td>
            </ng-container>

            <ng-container matColumnDef="isMainProvider">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="isMainProvider"> Main Provider </th>
                <td mat-cell *matCellDef="let element"><span style="visibility: hidden;">{{element.isMainProvider}}</span> <mat-slide-toggle  (change)="isMainProvider(element.id)" [checked]="element.isMainProvider"></mat-slide-toggle> </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="enable">  </th>
                <td mat-cell *matCellDef="let element"><span style="visibility: hidden;">{{element.enable}}</span> <mat-slide-toggle [disabled]="element.isMainProvider" (change)="deleteStudent(element.id)" [checked]="element.enable"></mat-slide-toggle> </td>
            </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"> <a [routerLink]="['/client/updatestudent', element.id]" ><mat-icon aria-hidden="false">settings</mat-icon></a>  </td>
            </ng-container>
            <!-- <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"> <div class="deleteStudent" style="cursor: pointer;color: #a00; border-radius: 10px;" (click)="deleteStudent(element.id)"><mat-icon aria-hidden="false">delete</mat-icon></div>  </td>
            </ng-container> -->

            <!-- <div style="position: absolute; right: 5; top: 5; color: white; cursor: pointer;border-radius: 10px;background-color: #a00;" (click)="deleteClass(class.id)"><mat-icon>delete</mat-icon></div>
                -->


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    </div>

  <app-add-student [id]="client.id"></app-add-student>
</div>
<div class="mat-z12 row" style="background-color: white;">
  <div class="col-lg-2">
    <a mat-button href="assets/StudentTemplate.xlsx" download>
      <mat-icon style="font-size: 30px;height: 40px;width: 40px;">
        <svg style="width:30px;height:30px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M15.8,20H14L12,16.6L10,20H8.2L11.1,15.5L8.2,11H10L12,14.4L14,11H15.8L12.9,15.5L15.8,20M13,9V3.5L18.5,9H13Z" />
        </svg>
      </mat-icon>
      Excel Students Template
    </a>
  </div>
  <div class="col-lg-4">
    <button mat-button (click)="fileInput.click()">
      <mat-icon class="mr-2" style="font-size: 30px;height: 40px;width: 40px;padding-top: 5px;">get_app</mat-icon>
      <span>{{(file==null?"Import Excel Metrics":fileName)}}</span>
      <input #fileInput type="file"  class="inputfile" (change)="fileChange($event)" accept=".xlsx, .xls"/>
    </button>
  </div>
  <div class="col-lg-4">
    <button mat-raised-button *ngIf="file!=null" (click)="ImportStudent($event)">
      Upload
    </button>
  </div>
</div>
<nav class="navbar navbar-expand navbar-light bg-light" style="height:71.6px;">
    <a class="navbar-brand">Classes History</a>
    <span class="navbar__separator navbar__separator--v"></span>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item " >
            </li>
        </ul>
    </div>
</nav>

<div class="mat-z12 " style="background-color: white;">
    <div class="client-detail-container row">
        <div class="col-md-4" style="margin-bottom: 15px;" *ngFor="let class of client.Classes | sortDESC:'startDate'">
            <div class="card" style="height: 100%;">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted" *ngIf="class.startDate!=null">{{class.startDate | date: "MM/dd/yyyy hh:mm a"}} - {{class.endDate | date: "MM/dd/yyyy hh:mm a"}}</h6>
                    <p class="card-text">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">near_me</mat-icon>
                        <span class="icon-title">{{class.address1}}</span>
                        <br/>
                        <span class="icon-title" style="padding-left: 35px;">{{class.city}}, {{class.state}} {{class.zip}} </span>
                    </p>

                    <p class="card-text">  <mat-icon aria-hidden="false" aria-label="Example home icon">business_center</mat-icon> <span class="icon-title"> {{class.TeachingMode.name}}</span> </p>
                    <p class="card-text">  <mat-icon aria-hidden="false" aria-label="Example home icon">directions_car</mat-icon> <span class="icon-title">{{class.milesTravel}} miles - </span><mat-icon aria-hidden="false" aria-label="Example home icon">access_time</mat-icon> <span class="icon-title">{{class.timeTravel}} h</span></p>
                    <p class="card-text"><mat-icon aria-hidden="false" aria-label="Example home icon">money</mat-icon> <span class="icon-title"><b>$</b> {{class.totalCost}}</span></p>

                    <ul>
                        <li *ngFor="let ClassesDetail of class.ClassesDetails">
                            {{ClassesDetail.Course.title}} - {{ClassesDetail.Course.description}} ({{ClassesDetail.startDate | date:'shortTime'}} - {{ClassesDetail.endDate | date:'shortTime'}})
                        </li>

                    </ul>
                    <p class="card-text">
                        <mat-icon>people</mat-icon><a [routerLink]="['/class', class.id]" class="card-link icon-title">Details</a>
                    </p>
                    <p class="card-text">
                        <mat-icon>insert_drive_file</mat-icon><a [routerLink]="['/invoicepdf', class.id]" class="card-link icon-title">Invoice</a>
                    </p>
                </div>
            </div>




        </div>
    </div>
</div>


