
<style>
    .add-user-container{
        margin: auto;
        padding: 20px 20px 5px 20px;
        background-color: white;
    }
    mat-form-field.mat-form-field {
    font-size: 16px;
    width: 100%;
    }
</style>
<div class="add-user-container">
    <form class="add-user-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-sm-6 offset-md-3">
                <mat-form-field>
                    <mat-label>New Password</mat-label>
                    <input matInput required type="password" placeholder="Enter the New Password of User" formControlName="password" readonly 
                    onfocus="this.removeAttribute('readonly');">
                </mat-form-field>
            </div>
        </div>
        <div class="row">            
            <div class="col-sm-6 offset-md-3">
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput required type="password" placeholder="Confirm the Password of the User" formControlName="confirmPassword" readonly 
                    onfocus="this.removeAttribute('readonly');">
                </mat-form-field>
            </div>
        </div>
            
        <div class="row">
            <div class="col-sm-1 offset-md-3" >
                <button class="btn btn-success" 
                    type="submit">Reset Password
                </button>
            </div>
        </div>    
    </form>
</div>